@model WEB.ViewModel.ProductViewModel

@{
    ViewData["Title"] = "Edit Product";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div enctype="multipart/form-data" class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <img src="~/imagens/@Model.Image" style="width:60px; padding-bottom:5px" />
                <label asp-for="ImageUpload" class="control-label"></label>

                <div class="custom-file">
                    <input type="file" id="ImageUpload" class="custom-file-input" asp-for="ImageUpload" />
                    <label data-browse="Find" class="custom-file-label" for="ImageUpload"></label>
                    <label id="img_name" style="display: none"></label>
                </div>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <div class="form-group">
                <a class="btn btn-info" href="javascript:window.history.back();">Back</a>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        let input = document.querySelector("#ImageUpload");
        input.onchange = () => {

            document.querySelector("#img_name").style.display = 'block';
            document.querySelector("#img_name").innerText = input.files[0].name;
        }
    </script>
}
