@model WEB.ViewModel.ProviderViewModel

<h4>Address</h4>
<hr />

    <div class="form-group">
        <label asp-for="Address.ZipCode" class="control-label"></label>
        <input asp-for="Address.ZipCode" class="form-control" />
        <span asp-validation-for="Address.ZipCode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address.PublicPlace" class="control-label"></label>
        <input asp-for="Address.PublicPlace" class="form-control" />
        <span asp-validation-for="Address.PublicPlace" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address.Number" class="control-label"></label>
        <input asp-for="Address.Number" class="form-control" />
        <span asp-validation-for="Address.Number" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address.complement" class="control-label"></label>
        <input asp-for="Address.complement" class="form-control" />
        <span asp-validation-for="Address.complement" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address.Neighborhood" class="control-label"></label>
        <input asp-for="Address.Neighborhood" class="form-control" />
        <span asp-validation-for="Address.Neighborhood" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address.City" class="control-label"></label>
        <input asp-for="Address.City" class="form-control" />
        <span asp-validation-for="Address.City" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address.State" class="control-label"></label>
        <input asp-for="Address.State" class="form-control" />
        <span asp-validation-for="Address.State" class="text-danger"></span>
    </div>
